@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    height: 80px;
}

.container-grid{
    width: 1700px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.menu{
    width: 880px;
    display: flex;
    justify-content: space-between;
}
.banner{
    height: 1000px;
    background-image: url(../img/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.texto-banner h1{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.posicao-texto{
    justify-content: flex-end;
    height: 1500px;
    text-align: center;
}
.texto-banner a{
    color: white;
    background-color: red;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 25px;
}
.promocoes{
    background-image: url(../img/hardwarre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promocoes img{
    width: 500px;
}
.texto-promocoes h2{
    color: black;
    font-size: 70px;
}
.texto-promocoes p{
    color:black;
    font-size: 50px;
}